<div class="flex flex-col h-screen justify-between">
  <header class="px-4 sm:px-6 lg:px-8">
    <!-- Add a language toggle component here -->
    <.live_component module={FosterWeb.Components.NavBar} id="navbar" />
  </header>
  <main class=" py-10 sm:px-6 lg:px-8 mb-auto">
    <div class="mx-auto max-w-2xl">
      <.flash_group flash={@flash} />
      <%= @inner_content %>
    </div>
  </main>
  <footer class="">
    <div class="mx-10 mb-4">
      <p>
        Desenvolvimento e Compilação de Dados por <a href="https://local.foundation" class="underline font-bold" target="_blank" rel="noopener noreferrer">Local.Foundation</a>
        e <a href="https://www.impacthackerscommunity.com/" class="underline font-bold" target="_blank" rel="noopener noreferrer">ImpactHackers</a>
        Hackathon em apoio à <a href="https://www.protecaoarapariga.pt/" class="underline font-bold" target="_blank" rel="noopener noreferrer">AIPAR</a>
        licença <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" class="underline font-bold" target="_blank"r el="noopener noreferrer">GNU GPLv3</a>. <a href="privacy" class="underline font-bold">Política de Privacidade</a>.
      </p>
      <div class="flex items-center gap-2 mt-0">
        <div>
          <img src="/images/logo.svg" />
        </div>
        <div>
            <img src="/images/logo_aipar.avif" />
        </div>
        <div>
          <img src="/images/impact-hackers 1.svg" />
        </div>
      </div>
    </div>
  </footer>
</div>
